<div class="hero-unit">
	<h3>History of Modern Europe</h3>
	<p>
		Mr. Gabbert - 10:00am
	</p><p>
	<%= link_to "Hand Up", "#", class: "btn btn-block btn-large btn-primary" %>
	<%= link_to "Hand Down", "#", class: "btn btn-block btn-small btn-gray" %>
	</p><p>
		Survey tools:
	</p><p>
	<div class="row-fluid">
	<div class="span6">
		<%= link_to "Yes", "#", class: "btn btn-block btn-large btn-success" %>
		</div>
	<div class="span6 pull-right">
		<%= link_to "No", "#", class: "btn btn-block btn-large btn-danger" %>
		</div>
	</div>	
	</p><p>
	  	<div class="row-fluid">
	    <div class="span3">
			<%= link_to "A", "#", class: "btn btn-large btn-block btn-info" %>
	    </div>
	    <div class="span3">
			<%= link_to "B", "#", class: "btn btn-large btn-block btn-warning" %>
	    </div>
	    <div class="span3">
			<%= link_to "C", "#", class: "btn btn-large btn-block btn-info" %>
	    </div>
	    <div class="span3">
			<%= link_to "D", "#", class: "btn btn-large btn-block btn-warning" %>
	    </div>
	    </div>
	</p>
</div>