<% if user_signed_in? %>
 <div class="hero-unit">
    	<div class="page-header">
		<h1><small>welcome to</small>     hand<font color = "#0066CC">UP</font></h1>
		<p>
		</p>
		<p>
		Select a class:
		</p>

		<p>
			<%= link_to "History (Gabbert 10:00am)", history123_path, class: "btn btn-block btn-large btn-success" %>
			<%= link_to "Math (Shorts 11:00am)", "#", class: "btn btn-block btn-large btn-info" %>
			<%= link_to "Chemistry (Blackmon 1:00pm)", "#", class: "btn btn-block btn-large btn-success" %>
			<%= link_to "English (Jones 2:00pm)", "#", class: "btn btn-block btn-large btn-info" %>
		</p>
    </div>
 </div>
<% else %>    
    <div class="hero-unit">
    	<div class="page-header"> <p>
		<h1>hand<font color = "#0066CC">UP</font></h1></p>
		<p><h3>making class smarter</h3></p>
		<body>
		<p>
			<strong>hand<font color= "#0066CC">UP</font></strong> gives all students a fair chance to answer questions in the classroom. By using the handUP mobile application, teachers can track key participation metrics and students can make their ideas heard.
		</p>
		</body>
		<p>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-large btn-success" %>
			<%= link_to "Log In", new_user_session_path, class: "btn btn-large btn-info" %>
		</p>
    </div>
 </div>
 <% end %>