<% if user_signed_in? %>

 <p>
<div class="container-fluid">
    <div class="row-fluid">
   		<div class="page-header span5"> <p>
		<h1>hand<font color = "#0066CC">UP</font></h1></p>
		<p><h3>making class smarter</h3></p>
		</div>
   </p>
    <div class="hero-unit span7 pull-right">
		<body>
		<p>
			Welcome back to <strong>hand<font color= "#0066CC">UP</font></strong>!
		</p>
		</body>
		<p>
			<%= link_to "My Classrooms", pins_path, class: "btn btn-large btn-success" %>
		</p>
 </div>
 </div>
 </div>
	<div class="container-fluid">
    <div class="row-fluid">
    <div class="span6 well">
    <p class = "text-center"> <h4>Step up your game with USA Basketball!</h4> </p>
    <p><%= link_to "Learn the game's fundamentals from the best in the world. USA Basketball is the ultimate authority on youth basketball.", "http://www.ihoops.com/" %></p>
    </div>
    <div class="span6 well">
    <p class = "text-center"> <h4>Stay one step ahead of your teachers.</h4> </p>
	 <p><%= link_to "CNN Student News offers the breaking headlines and in-depth stories that matter most to students. Our news for our generation.", "http://www.cnn.com/studentnews/" %></p>
    </div>
    </div>
    </div>	
		

<% else %>   

   <p>
<div class="container-fluid">
    <div class="row-fluid">
   		<div class="page-header span5"> <p>
		<h1>hand<font color = "#0066CC">UP</font></h1></p>
		<p><h3>making class smarter</h3></p>
		</div>
   </p>
    <div class="hero-unit span7 pull-right">
		<body>
		<p>
			<strong>hand<font color= "#0066CC">UP</font></strong> gives all students a fair chance to answer questions in the classroom. By using the handUP mobile application, teachers can track key participation metrics and students can make their ideas heard. <small><%= link_to "Learn more...", about_path %></small>
		</p>
		</body>
		<p>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-large btn-success" %>
			<%= link_to "Log In", new_user_session_path, class: "btn btn-large btn-info" %>
		</p>
 </div>
 </div>
 </div>
    <div class="container-fluid">
    <div class="row-fluid">
    <div class="span4 well">
    <p class = "text-center"> <h4>Analytics</h4> </p>
    <p>Measure the willingness, frequency, and quality of participation for each student</p>
    </div>
    <div class="span4 well">
   	<p class = "text-center"> <h4>Empowerment</h4> </p>
	<p>Encourage student participation by creating a fair and moderated environment</p>
    </div>
    <div class="span4 well">
    <p class = "text-center"> <h4>Classroom Management</h4> </p>
	<p>Administer instant surveys, track attendance, and grade contributions in real time</p>
    </div>
    </div>
    </div>

 <% end %>